[submodule "lib/tomlplusplus"]
	path = lib/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "lib/ftxui"]
	path = lib/ftxui
	url = https://github.com/ArthurSonzogni/FTXUI.git
[submodule "lib/sdbus-cpp"]
	path = lib/sdbus-cpp
	url = https://github.com/Kistler-Group/sdbus-cpp.git
[submodule "lib/cpp-httplib"]
	path = lib/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "lib/CPPify"]
	path = lib/CPPify
	url = https://github.com/KielanT/CPPify.git
[submodule "lib/nlohmann-json"]
	path = lib/nlohmann-json
	url = https://github.com/nlohmann/json.git
[submodule "lib/cava"]
	path = lib/cava
	url = https://github.com/karlstav/cava.git
[submodule "lib/magic_enum"]
	path = lib/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "lib/miniaudio"]
	path = lib/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "lib/concurrentqueue"]
	path = lib/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "lib/caches"]
	path = lib/caches
	url = https://github.com/vpetrigo/caches.git
[submodule "lib/base64"]
	path = lib/base64
	url = https://github.com/tobiaslocker/base64.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/url"]
	path = lib/url
	url = https://github.com/glynos/url
[submodule "lib/beast"]
	path = lib/beast
	url = https://github.com/boostorg/beast.git
[submodule "lib/asio"]
	path = lib/asio
	url = https://github.com/boostorg/asio.git
